body {
    margin: 0;
    padding: 0;
    background: rgb(172, 175, 187);
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 75%;
}

svg {
    position: absolute;
}

.demo-card-square.mdl-card {
    margin-bottom: 20px;
    /* height: 320px; */
}

.secondcard {
    height: 300px;
}

.demo-card-square>.mdl-card__title {
    color: white;
    background: #4db6ac;
}

.demo-card-square>.mdl-card__title.recommendationcard {
    color: white;
    background: #673ab7;
}

.places svg {
    width: 20px;
    height: 20px;
    /* padding-right: 100px; */
    font: 10px sans-serif;
    text-anchor: middle;
}

.places circle {
    /* fill: brown;
    stroke: black;
    stroke-width: 1.5px; */
    /* fill: rgb(31, 186, 214);
    fill-opacity: 0.6; */
    stroke-width: 0;
}

.filtercardstyle {
    width: 100%;
    /* float: left; */
    /* margin-top: 20px; */
    /* margin-left: 20px; */
}

.popupcardstyle {
    float: right;
    margin-top: 20px;
    width: 350px;
    height: 600px;
    /* margin-left: 20px; */
}

.mdl-card--border {
    padding: 10px;
}

.numfloatleft {
    display: inline-block;
}

.numfloatright {
    display: inline-block;
}

.demo-card-square {
    background: rgb(238, 239, 244);
}

.mdl-grid {
    padding: 0px;
    height: 100%;
}

.mdl-cell {
    padding: 0px;
    margin: 5px;
}

.mdl-textfield {
    padding: 0px;
}

.main-logo-image {
    margin-top: 5px;
    margin-left: 5px;
    height: 40px;
    width: 115px;
}