body {
    margin: 0;
    padding: 0;
    background: rgb(172, 175, 187);
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 75%;
}

svg {
    position: absolute;
}

.demo-card-square.mdl-card {
    margin-bottom: 20px;
    /* height: 320px; */
}

.secondcard {
    height: 300px;
}

.demo-card-square>.mdl-card__title {
    color: white;
    background: #4db6ac;
}

.demo-card-square>.mdl-card__title.recommendationcard {
    color: white;
    background: #673ab7;
}

.places svg {
    width: 20px;
    height: 20px;
    /* padding-right: 100px; */
    font: 10px sans-serif;
    text-anchor: middle;
}

.places circle {
    /* fill: brown; */
    stroke: rgb(19, 75, 85);
    stroke-width: 0.5px;
    /* fill: rgb(31, 186, 214); */
    /* fill-opacity: 0.6; */
    /* stroke-width: 0; */
}

.filtercardstyle {
    width: 100%;
    /* float: left; */
    /* margin-top: 20px; */
    /* margin-left: 20px; */
}

.popupcardstyle {
    float: right;
    margin-top: 20px;
    width: 350px;
    /* height: 660px; */
    /* margin-left: 20px; */
}

.mdl-card--border {
    padding: 10px;
}

.numfloatleft {
    display: inline-block;
}

.numfloatright {
    display: inline-block;
}

.demo-card-square {
    background: rgb(238, 239, 244);
}

.mdl-grid {
    padding: 0px;
    height: 100%;
}

.mdl-cell {
    padding: 0px;
    margin: 5px;
}

.mdl-textfield {
    padding: 0px;
}

.main-logo-image {
    margin-top: 5px;
    margin-left: 5px;
    height: 40px;
    width: 115px;
}

/* The popup bubble styling. */
.popup-bubble {
    /* Position the bubble centred-above its parent. */
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    /* Style the bubble. */
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    font-family: sans-serif;
    overflow-y: auto;
    max-height: 60px;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
}

/* The parent of the bubble. A zero-height div at the top of the tip. */
.popup-bubble-anchor {
    /* Position the div a fixed distance above the tip. */
    position: absolute;
    width: 100%;
    bottom:
        /* TIP_HEIGHT= */
        8px;
    left: 0;
}

/* This element draws the tip. */
.popup-bubble-anchor::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* Center the tip horizontally. */
    transform: translate(-50%, 0);
    /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
    width: 0;
    height: 0;
    /* The tip is 8px high, and 12px wide. */
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top:
        /* TIP_HEIGHT= */
        8px solid white;
}

/* JavaScript will position this div at the bottom of the popup tip. */
.popup-container {
    cursor: auto;
    height: 0;
    position: absolute;
    /* The max width of the info window. */
    width: 200px;
}

.workIcon {
    width: 15px;
    height: 15px;
}